/* source  https://www.youtube.com/watch?v=tzszRG3bTRs&t=617s */

aside{
    width: 400px;
    height: 600px;
    transition: 0.9s;
    background-color: rgba(133, 130, 125, 0.2);
    border-radius: 25px;
    backdrop-filter: blur(2px);
}
/* 底部白色那一條 */
.navbar {
    margin-top: 5rem;
    position: relative;
    display: inline-block;
    width: 70px;
    height: 350px;
    background: #fff;
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* 把間距拉開 */
.navbar ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: calc(350px / 3);
    z-index: 1;
}

/* 把icon跟文字拉到同一水平 */
.navbar ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: 500;
}

.navbar ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: 500;
}

.navbar ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transition: 0.5s;
}

/* 簍空後中間出現icon */
.navbar ul li.active a .icon{
color: #fff;
}

/* 把icon放大 */
.navbar ul li a .icon i{
    font-size: 24px;
}

/* 把文字往右邊挪  以及把他弄消失 */
.navbar ul li a .navTex{
    position: absolute;
    top: 50%;
    left: 110px;
    background: #fff;
    transform: translateY(-50%);
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    visibility: hidden;
}

/* hover到 icon上面時  文字會出現 */
.navbar ul li:hover a .navTex{
    opacity: 1; 
    visibility: visible;
    transform: translateX(-25px) translateY(-50%);

}

/* 對話框前面的小角 */
.navbar ul li:hover a .navTex::before{
    content: "";
    position: absolute;
    /* position: relative; */
    width: 12px;
    height: 12px;
    background: #fff;
    left: -8px;
    top: 48%;
    transform: rotate(45deg) translateY(-50%);
    border-radius: 3px;

}

/* 覆蓋上白色那條的東西 配上JS  做hover簍空 */
.navbar ul .indicator{
    position: absolute;
    left: 0;
    width: 70px;
    height: calc(350px / 3);
    transition: 0.5s;
}

/* 簍空的小圓圈 */
.navbar ul .indicator::before{
    content: "";
    position: absolute;
    top: 9%;
    left: 15%;
    width: 50px;
    height: 50px;
    /* background-color: #333; */
    border-radius: 50%;
    transition: 0.5s;
}

/* 游標移上  圈圈會換位置 */
.navbar ul li:nth-child(1).active ~ .indicator{
    transform: translateY(calc((350px / 3) * 0));

}

.navbar ul li:nth-child(2).active ~ .indicator{
    transform: translateY(calc((350px / 3) * 1));

}

.navbar ul li:nth-child(3).active ~ .indicator{
    transform: translateY(calc((350px / 3) * 2));

}

/* 換顏色 */
.navbar ul li:nth-child(1).active ~ .indicator::before{  
    /* background: #f53b57; */
    background: rgba(245, 59, 87, 1);
}

.navbar ul li:nth-child(2).active ~ .indicator::before{  
    /* background: #0fbcf9; */
    background: rgba(15, 188, 249, 1);

}

.navbar ul li:nth-child(3).active ~ .indicator::before{  
    /* background: #05c45b; */
    background: rgba(5, 196, 91, 1);

}


/* 左邊aside編輯區結束 */