.body{
    display: flex;
    flex-wrap: wrap;

}

#types {
    position: relative;
    right: 60px;
    padding: 0.25rem 0.5rem;
    margin-left: 30px;
    font-size: 1.25rem;
    color: greenyellow;
    border: 0;
    border-bottom: 2px solid orange;
    background: none;
    
}
#types option{
    border: none;
    background: #999;
}


.container-box {
    position: relative;
    top: 51%;
    left: 50%;
    width: 100%;
    min-height: 600px;
    padding: 40px;
    padding-top: 30px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
}

.container-box form {
    margin-left: 170px
}

/* vote list用 */
.container-box form div{
    margin: 30px;
    margin-left: 60px;
    font-size: 30px;
    width: 600px;
    text-align: center;
}

.container-box .edit_form div{
    margin: 20px;
    margin-left: 60px;
    font-size: 30px;
    width: 600px;
    text-align: center;
}
.container-box form div label{
    display: inline-block;
    width: 200px;
    text-align: left;
    font-size: 27px;
}
.container-box form div input{
    display: inline-block;
    position: relative;
    bottom: 5px;
    transform: scale(1.5);
    bottom: 5px;
}

#options{
    margin: 0;
}

/* 按鈕區 */
#addopt{
    margin-left: 150px;
    width: 130px;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: #ffffff;
    border: none;
    background: rgb(57, 160, 230);
    background: linear-gradient(0deg, rgb(74, 169, 233) 0%, rgb(77, 124, 253) 100%);
    color: #fff;
    overflow: hidden;
    opacity: 0.8;
}
#addopt:hover{
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

#addopt:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

#submit{
    margin-right: 160px;
    width: 140px;
    height: 45px;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: #ffffff;
    border: none;

    background: linear-gradient(0deg, rgb(74, 169, 233) 0%, rgb(77, 124, 253) 100%);
    color: #fff;
    overflow: hidden;
    opacity: 0.8;
}
#submit:hover{
    text-decoration: none;
    color: rgb(252, 147, 10);
    opacity: 1;
}

#submit:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* 後臺的編輯投票頁面用 */
.edits_option{

    margin: 10px auto;
}

