section {
    display: flex;
    justify-content: center;
    width: 80%;
    height: calc(100vh - 300px - 3rem);
    margin: 0 auto;
}



section .container {
    width: 80%;
}

#voteList {
    margin: 1rem 0 1rem 6rem;
}

#voteList-header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

#voteList a {
    text-decoration: none;
}

#voteList-header div {
    width: calc(100% / 5);
    padding: 0.5rem 1rem;
    background: blue;
    color: #ccc;
}

#voteList-header div a {
    color: #ccc
}

#voteList-items div {
    width: calc(100% / 5);
    padding: 0.5rem 1rem;
}

#voteList-items {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    margin: 0.25rem 0;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: 1.15rem;
}

#voteList-items:hover {
    background-color: rgb(216, 255, 237);
    cursor: pointer;
}

.result-table {
    border-collapse: collapse;
    box-shadow: 0 0 6px #bbb;
}

.result-table td {
    padding: 0.25rem;
    border: 1px solid #ccc;
}

#types {
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    border: 0;
    border-bottom: 2px solid orange;
}