.container header{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}

.container header label{
    display: inline-block;
    width: 40%;
    color: bisque;
    padding: 10px 30px;
    font-size: 25px;
    
}
.container header select{
    border: none;
    background: none;
}
.container header select option{
    border: none;
    background: #999;
}

.container header>div{
    display: inline-block;
    width: 40%;
}

.container header .order{
    text-align: right;
    padding-right: 30px;    
}
.container header div b>div{
    display: inline;    
}

.container header i{
font-size: 25px;
}


.container header .order b div a .navTex{
    position: absolute;
    top: 43%;
    left: 1600px;
    background: #fff;
    transform: translateY(-50%);
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    visibility: hidden;
}

.container header .order b div:hover a .navTex{ 
    position: absolute;
    top: 43%;
    left: 1600px;
    opacity: 1; 
    visibility: visible;
    transform: translateX(-25px) translateY(-50%);
    text-decoration: none;
}


/* header區 結束 */

.container article{
    padding: 20px;
}



/* 切換頁碼區 */
.container article .page{
    margin: 20px auto;
    width: 40%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 15px;
    padding: 5px auto;
}


.container article .page a{
    background: transparent;
    border: 0;
    font-size: 30px;
    color: rgb(37, 238, 121);
    text-decoration: none;
    margin: 5px auto;
    cursor: pointer;
    
}